@import "../../_globalColor";

.talk-header-title {
  font-size: 56px;
  font-weight: 400;
  line-height: 0px;
}

.talk-cards-div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 1rem 1rem;
}

.subTitle {
  color: $subTitle;
}
.profile-img-container{
width: 100%;
  border-radius: 10%;
}
.awscommunityimg{
 width: 100%;
  height: 70%;

  object-fit: contain;

}
.aboutme-img-area{
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 2rem;
  background-color: transparent;
}

/* slider */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.toggle-container{
  width: 70px;
  height: 40px;
  padding: .8rem;
  border-radius: 15%;
}
.toggle-container:hover{
  background-color:#ecf39e ;
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media (max-width: 768px) {
  .talk-header-title {
    font-size: 30px;
    text-align: center;
  }
  .talk-header-subtitle {
    font-size: 16px;
    line-height: normal;
    text-align: center;
  }
  .awscommunityimg{
    width: 100%;
  }
  .aboutme-img-area{
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
  gap: 2rem;
}
}
